
%nav#nav
  %ul
    %li 
    = link_to 'Home', 'home#index'
    %li
    = link_to 'Dashboard', 'dashboard#index'
    %li
    = link_to 'Commissies', 'commissie#index'
    %li
    = link_to 'Leden', 'leden#index'
    