%html
  %head
    %title
      %h1
        Ledenadministratie tool
      
  %body
    %header
      %h2.titel
        Commissie & Ledenbeheer      
      = render :partial => "navigation"
    %div#container
      %h3.pagetitel
        Home
      = render :partial => "login"
    